{{#if (and @topicId @postId)}}
  <div class="expert-dialog-audio">
    {{#if this.audioUrl}}
      <div class="audio-player">
        <audio 
          src={{this.audioUrl}} 
          controls
          {{on "play" (fn (mut this.isPlaying) true)}}
          {{on "pause" (fn (mut this.isPlaying) false)}}
        ></audio>
        
        <DButton
          @class="btn-default download-audio"
          @action={{this.downloadAudio}}
          @icon="download"
          @label="expert_dialog.download_audio"
        />
      </div>
    {{else}}
      <DButton
        @class="btn-default generate-audio {{if this.loading 'loading'}}"
        @action={{this.generateAndPlayAudio}}
        @icon={{if this.loading "spinner" "volume-up"}}
        @label="expert_dialog.listen"
        @disabled={{this.loading}}
      />
      
      {{#if this.error}}
        <div class="error-message">{{this.error}}</div>
      {{/if}}
    {{/if}}
  </div>
{{/if}} 