{{#if this.audioUrl}}
  <div class="expert-dialog-audio">
    <audio controls src="{{this.audioUrl}}"></audio>
    <div class="expert-dialog-audio-download">
      <a href="{{this.audioUrl}}" download>{{i18n "expert_dialog.download_audio"}}</a>
    </div>
  </div>
{{else}}
  <div class="expert-dialog-audio-button">
    {{#if this.isGenerating}}
      <div class="spinner small"></div>
    {{else}}
      <button {{on "click" this.generateAudio}} class="btn btn-default">
        {{i18n "expert_dialog.listen"}}
      </button>
    {{/if}}
  </div>
{{/if}}

{{#if this.errorMessage}}
  <div class="alert alert-error">{{this.errorMessage}}</div>
{{/if}} 